@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MostrarAlumnos</title>
</head>
<body>
    @* muestro los alumnos aprobados *@
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Alumnos aprobados
        </div>
        <ul class="list-group list-group-flush">
            @{
                foreach(Alumnos alumno in @ViewBag.aprobados){
                    <li 
                    class="list-group-item">@alumno.Nombre @alumno.Apellido 
                    <a href='@Url.Action("VerDetalleAlumno", "Home", new { legajo = alumno.Legajo})'>Más información</a>
                    </li>
                    
                }
            }
        </ul>
    </div>

    @* muestro los desaprobados *@
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Alumnos desaprobados
        </div>
        <ul class="list-group list-group-flush">
            @{
                foreach(Alumnos alumno in @ViewBag.desaprobados){
                    <li 
                    class="list-group-item">@alumno.Nombre @alumno.Apellido 
                    <a href='@Url.Action("VerDetalleAlumno", "Home", new { legajo = alumno.Legajo})'>Más información</a>
                    </li>
                    
                }
            }
        </ul>
    </div>
</body>
</html>