<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Alumno</title>
</head>
<body>
    @{
        foreach(Alumnos alumno in @ViewBag.LAlumnos){
            if(alumno.Legajo==@ViewBag.gajo){
                <p>@alumno.Nombre</p>
                <p>@alumno.Apellido </p>
                <p>@alumno.Curso </p>
                <p>@alumno.Promedio </p>
                if(@alumno.Promedio<6){
                    <p>Desaprobado</p>
                }else{
                    <p>Aprobado</p>
                }
                <p>@alumno.Especialidad </p>
            }
        }
    }
</body>
</html>